<!DOCTYPE html>
<html>
<head>
  <title>[Course name] Lesson</title>
  <link rel="stylesheet" href="mescours.component.css">
  <link
    rel="stylesheet"
    href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-quartz.css"
  />
  <style>
    .square {
      width: 100px;
      height: 100px;
      background-color: red;
      margin: 10px;
    }
  </style>
</head>
<body data-i=1>

<div class = "stars">
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>

  <header>
    <nav>
      <ul class="category-nav">
        <li><a routerLink="/home">Accueil</a></li>
        <li><a href="/mescours">Mes Cours</a></li>
        <li><a routerLink="/fondateurs">Les Fondateurs</a></li>
      </ul>
    </nav>
  </header>
</div>

<div class="title-page">Mes Cours</div>

<ag-grid-angular 
style="width: 1000px; height: 1000px;"
class="ag-theme-quartz"
[rowData]="rowData"
[columnDefs]="columnDefs"
[gridOptions]="gridOptions"
(rowClicked)="onRowClicked($event)"
(gridReady)="onGridReady($event)">
> </ag-grid-angular>
</body>
</html>
