<!DOCTYPE html>
<html>
<head>
  <title>[Course name] Lesson</title>
  <link rel="stylesheet" href="mescours.component.css">
</head>
<body data-i=1>

<div class = "stars">
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>

  <header>
    <nav>
      <ul class="category-nav">
        <li><a routerLink="/home">Accueil</a></li>
        <li><a href="/mescours">Mes Cours</a></li>
        <li><a routerLink="/fondateurs">Les Fondateurs</a></li>
      </ul>
    </nav>
  </header>
</div>

<div class="title-page">Mes Cours</div>

<div class="centered-container">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="flip-card-text text-center">Projet</div>
      </div>
      <div class="flip-card-back">
        <div class="flip-card-text text-center">Liste des noms des cartes</div>
      </div>
    </div>
  </div>
</div>



<script src="../../assets/script.js"></script>
</body>
</html>
