<!DOCTYPE html>
<html>
<head>
  <title>[Course name] Lesson</title>
  <link rel="stylesheet" href="cardpage.component.css">
</head>
<body data-i=1>
<div class = "stars">
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>

  <header>
    <nav>
      <ul class="category-nav">
        <li><a routerLink="/home">Accueil</a></li>
        <li><a href="mescours.html">Mes Cours</a></li>
        <li><a routerLink="/fondateurs">Les Fondateurs</a></li>
      </ul>
    </nav>
  </header>

  <div class="title-page">[Course name] Lesson</div>
</div>

<div class="centered-container">
  <div class="flip-card">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="flip-card-text text-center">[Question]</div>
      </div>
      <div class="flip-card-back">
        <div class="flip-card-text text-center">[Answer]</div>
      </div>
    </div>
  </div>
</div>

<div class="progress-bar">
  <div class="progress-bar-fill"></div>
</div>

<div class="button-container">
  <button class="button red-button">Misunderstood</button>
  <button class="button green-button">Understood</button>
</div>
<script src="../../assets/script.js"></script>
</body>
</html>
