<head>
    <meta charset="UTF-8">
    <title>ProjetFlashcard</title>
    <link rel="stylesheet" type="text/css" href="fondateur.component.css">
</head>
<body>
<div class = "stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>

    <header>
        <nav>
            <ul class="category-nav">
                <li><a href="index.html">Accueil</a></li>
                <li><a href="mescours.html">Mes Cours</a></li>
                <li><a href="lesfondateurs.html">Les Fondateurs</a></li>
            </ul>
        </nav>
    </header>

    <div class="centered-container">
        <li><a href="index.html" class = "hidden-link"><h1 class="large-text project-title">TwinkleCard</h1></a></li>
        <h2></h2>
    </div>

</div>

<div class="image-container10">
    <img src="/assets/charleslk.jpeg" alt="Charles Duval" class = "image-redimensionnee">
</div>
<div class="paragraph-container10">
    <p><a href="https://www.linkedin.com/in/charles--duval/" class = "hidden-link">Charles Duval</a>
    </p>
</div>

<div class="image-container11">
    <img src="/assets/dylan.jpeg" alt="Dylan Dray" class = "image-redimensionnee">
</div>
<div class="paragraph-container11">
    <p><a href="https://www.linkedin.com/in/dylan-dray/" class = "hidden-link">Dylan Dray</a>
    </p>
</div>

<div class="image-container12">
    <img src="/assets/louis.jpg" alt="Louis Martyr" class = "image-redimensionnee2">
</div>
<div class="paragraph-container12">
    <p><a href="https://www.linkedin.com/in/louis-martyr-123182229/" class = "hidden-link">Louis Martyr</a>
    </p>
</div>

<div class="image-container13">
    <img src="/assets/aksel.jpg" alt="Aksel Yilmaz" class = "image-redimensionnee3">
</div>
<div class="paragraph-container13">
    <p><a href="https://www.linkedin.com/in/aksel-yilmaz-termens-a017b812b/" class = "hidden-link">Aksel Yilmaz</a>
    </p>
</div>
<script src="starr.js"></script>
</body>