<head>
    <meta charset="UTF-8">
    <title>ProjetFlashcard</title>
    <link rel="stylesheet" type="text/css" href="home.component.css">
</head>
<body>
<div class = "stars">
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>
    <div class="star"></div>

<header>
    <nav>
        <ul class="category-nav">
          <li><a routerLink="/home">Accueil</a></li>
          <li><a href="mescours.html">Mes Cours</a></li>
          <li><a routerLink="/fondateurs">Les Fondateurs</a></li>
        </ul>
    </nav>
</header>

<div class="centered-container">
    <li><a href="index.html" class = "hidden-link"><h1 class="large-text project-title">TwinkleCard</h1></a></li>
    <h2></h2>
</div>

</div>

<div class="image-container111">
    <img src="./assets/05-44-09-18_512.gif" alt="gif_carte" class = "image-redimensionnee">
</div>
<div class="paragraph-container">
    <p>"Travailler pour atteindre les étoiles"</p>
</div>
<script src="./assets/starr.js"></script>
</body>
